<div class="post-row">
	<a id="<%= post.id %>" class="vote-box">
		<div class="vote-arrow">&utrif;</div> 
		<div class="vote-number"><%= post.investment/100000000 %></div> 
		<div class="vote-satoshi">bitcoin</div> 
	</a>


	<div class="post-box">
		<!-- thumbnail -->
		<% if(name == 'home' && post.thumbnail){ %>
			<a href="#" id="<%= post.postKey %>-thumb" class="thumb-link">
				<img src="<%= post.thumbnail %>" width=160>
			</a>

			<!-- embed -->
			<div id="<%= post.postKey %>-html" class="html">
				<%- post.html %>
				<div id="<%= post.postKey %>-close" class="html-close">x</div>
			</div>
		<% } %>	


		<!-- text -->
		<div class="post-title"><h4><a href="<%= post.url %>" target="_blank"><%= post.title %></a></h4></div>
		<div class="post-info">
			<span id="<%= post.id %>-investors">
				Investors <%= formatInvestorList(post.investors) %> 
			</span>
			- <a href="/<%= post.postKey.replace(/\./g, '/') %>"><%= post.commentCount %> comments</a> 
			- <a>tweet</a>
			</div>
		<div class="post-text"><%= post.text %></div>
	</div>
</div>

