<div class="post-row">
	<a id="<%= post.id %>" class="vote-box">
		<div class="vote-arrow">&utrif;</div> 
		<div class="vote-number"><%= post.investment %></div> 
		<div class="vote-satoshi">satoshi</div> 
	</a>
	<% if(name == 'home'){ %>
		<a href="/p/<%= post.postKey %>">
			<img src="<%= post.thumbnail %>" width=150>
		</a>
	<% } %>
	<div class="post-box">
		<div class="post-title"><a href="<%= post.url %>"><%= post.title %></a></div>
		<div class="post-info">
			<span id="<%= post.id %>-investors">
				Investors <%= formatInvestorList(post.investors) %> 
			</span>
			-
			<a href="/p/<%= post.postKey %>"><%= post.commentCount %> Comments</a> - <a>tweet</a>
			</div>
		<div class="post-text"><%= post.text %></div>
	</div>
</div>

