<!DOCTYPE html>
<html>

  <head>
    <% include ./imports/head %>
  </head>

  <body>

    <div id="layout-container">
      <%- include('./imports/navbar', { user: user }) %>

      <% if(main == 'imports/main/forum'){ %>
        <div id="header">
          <h1>hapori/<%= forumName %></h1>
          <h2><%= description %></h2>
        </div>
      <% } %>



      <div id="body">
        <div id="main">
        	<%- include(main, { user: user }) %>
        </div>
        <div id="sidebar">
        	<%- include(sidebar, { user: user }) %>
        </div>
      </div>


      <div id="footer">
        <% include ./imports/footer  %>
      </div>
    </div>

  </body>

</html>
