


<%- include('../postRow.ejs', {post: post}) %>


<h2>Comments</h2>
<form class="comment-form" action="/submitComment" method="post" id="">
	<textarea rows="2" name="text" placeholder=""></textarea><br />
	<input type="hidden" name="parentKey" value="<%= post.postKey %>">
	<input type="hidden" name="postKey" value="<%= post.postKey %>">
	<button type="submit" name="a">Reply</button>
</form>



<div id="comment-container">
	<% for(var i=0; i<comments.length; i++) { %>
		<%- include('../commentRow.ejs', {comment: comments[i]}) %>
	<% } %>
</div>



<h2>Stuff below is only for development</h2>
<h3>Database Dump</h3>
<pre>
<%= JSON.stringify(comments, null, 2) %>
</pre>

<h3>Turning the dump into threaded comments</h3>
<pre>
<%= JSON.stringify(formatComments(comments), null, 2) %>
</pre>