

<%- include('../postRow.ejs', {post: post}) %>


<h3>Comments</h3>
<form class="default-comment-form" action="/submitPost" method="post" id="<%= post.postKey %>">
	<textarea rows="2" name="text" placeholder=""></textarea><br />
	<input type="hidden" name="parentKey" value="<%= post.postKey %>">
	<input type="hidden" name="postKey" value="<%= post.postKey %>">
	<input type="hidden" name="title" value="">
	<input type="hidden" name="url" value="">
	<button type="submit" name="a">Reply</button>
</form>





<div id="comment-container">
	<%- include('../commentTree.ejs', {tree: formatComments(comments), _:_}) %>
</div>


